<div id="<%= dom_id opinion %>">
  <p>
    <strong>User:</strong>
    <%= opinion.user_id %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= opinion.hotel_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= opinion.room_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= opinion.rating %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= opinion.comment %>
  </p>

</div>
