<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= hotel.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hotel.description %>
  </p>

  <p>
    <strong>Room count:</strong>
    <%= hotel.room_count %>
  </p>

  <p>
    <strong>Amenities:</strong>
    <%= hotel.amenities %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= hotel.price_per_night %>
  </p>

</div>
