<% render partial: "hotels/menu"%>

<%= render "menu", hide_menu_option: @hide_menu_option %>

<div class="container mt-4">
  <h2 class="text-center">Búsqueda de Hoteles</h2>
  
  <div class="container">
    <div class="row">
      <!-- Columna de búsqueda -->
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Filtrar y Buscar</h5>
          </div>
          <div class="card-body">
            <%= form_with url: hotels_path, method: :get, local: true, class: "form-inline" do |form| %>
              <div class="form-group mb-3 w-100">
                <%= form.label :room_type, "Tipo de Habitación", class: "form-label" %>
                <%= form.select :room_type, options_for_select(["Single", "Double", "Suite"], params[:room_type]), { prompt: "Seleccionar Tipo" }, class: "form-control w-100" %>
              </div>

              <div class="form-group mb-3 w-100">
                <%= form.label :price_range, "Rango de Precio", class: "form-label" %>
                <div class="d-flex align-items-center w-100">
                  <%= form.text_field :price_min, placeholder: "Min", class: "form-control w-50 mr-2" %>
                  <span>-</span>
                  <%= form.text_field :price_max, placeholder: "Max", class: "form-control w-50 ml-2" %>
                </div>
              </div>

              

              <div class="form-group mb-3 w-100">
                <%= form.label :number_of_guests, "Número de Huéspedes", class: "form-label" %>
                <%= form.number_field :number_of_guests, placeholder: "Cantidad", class: "form-control w-100" %>
              </div>

              <%= form.submit "Buscar", class: "btn btn-primary btn-block" %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Columna de hoteles -->
      <div class="col-lg-8 col-md-6">
        <div class="row">
          <% @hotels.each do |hotel| %>
            <div class="col-lg-6 col-md-12 mb-4">
              <div class="card h-100">
                <% if hotel.image.attached? %>
                  <%= image_tag hotel.image, class: "card-img-top", alt: "Hotel Image" %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= hotel.name %></h5>
                  <p class="card-text"><%= hotel.description %></p>
                  <p class="card-text"><strong>Calificación Promedio:</strong> <%= hotel.average_rating %></p>
                  <%= link_to "Reservar Habitación", hotel_rooms_path(hotel), class: "btn btn-primary btn-block" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
